.dialog-container {
  padding: 24px;
}

.dialog-title {
  display: flex;
  align-items: center;
  gap: 8px;  
  color: #128f8a;
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 10px;
}

.dialog-title-icon {
  color: #128f8a;
}

.note-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 400px;
  padding-top: 8px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 8px 0;
}

.dialog-btn-cancel {
  min-width: 100px;
  background-color: #FFA705;
  color: white;
}

.dialog-btn-save {
  min-width: 100px;
  background-color: #16B3AC;
  color: white;
}
