[submodule "sbeacon"]
	path = sbeacon
	url = https://github.com/GSI-Xapiens-CSIRO/sBeacon-BGSi.git

[submodule "svep"]
	path = svep
	url = https://github.com/GSI-Xapiens-CSIRO/sVEP-BGSi.git

[submodule "pgxflow"]
	path = pgxflow
	url = https://github.com/GSI-Xapiens-CSIRO/pgxflow-BGSi.git

[submodule "clinical_reports"]
	path = clinical_reports
	url = https://github.com/GSI-Xapiens-CSIRO/clinical_reports.git
