<ul class="bui-menu-items">
  @if (auth.user | async) {
  <li class="bui-menu-item" [routerLinkActive]="'active'">
    <a [routerLink]="['home']" accesskey="1" title="">About</a>
  </li>
  <li *hasPermission="'my_project.read'" class="bui-menu-item" [routerLinkActive]="'active'">
    <a [routerLink]="['dportal']" accesskey="1" title="">Data Portal</a>
  </li>
  @if (["svep", "pgxflow"].includes(clinicMode)) {
  <li *hasPermission="'clinical_workflow_execution.read'" class="bui-menu-item" [routerLinkActive]="'active'">
    <a [routerLink]="['clinic']" accesskey="3" title="">Clinic</a>
  </li>
  }
  <li *hasPermission="'faq.read'" class="bui-menu-item" [routerLinkActive]="'active'">
    <a [routerLink]="['faq']" accesskey="1" title="">FAQs</a>
  </li>
  <li *hasPermission="'admin.read'" class="bui-menu-item" [routerLinkActive]="'active'">
    <a [routerLink]="['admin']" title="">Admin</a>
  </li>
  }
</ul>